<!DOCTYPE html>
<html>
    <head>

        <link rel="shortcut icon" href="/favicon.png">

        <title>Store</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="<%= controller.controller_name %>">
        <div id="banner">
            <img class="sidebar-logo" src="images/logos/" />
            <span class="title"><%= @page_title %></span>
        </div>
        <div class="columns">
            <div id="side">
                <div id="cart">
                    <% if @cart.line_items.any? %>
                        <%= render @cart %>
                    <% end %>
                </div>
                
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pages/about">About</a></li>
                    <li><a href="/pages/contact">Contact</a></li>
                </ul>
            </div>
            <div class="<%= controller.controller_name %>-<%= controller.action_name %> content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
