<!DOCTYPE html>
<html>
    <head>

        <link rel="shortcut icon" href="/favicon.png">

        <title>Store</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="<%= controller.controller_name %>">

        <%= render 'layouts/sidebar' %>
        <div class="<%= controller.controller_name %>-<%= controller.action_name %>">
            <%= yield %>
        </div>
    </body>
</html>
